<nav>
    <ul>
      <li class="logo">
        DiceFighter <span class="version">v0.1</span>
      </li>
      <li>
          Menu
      </li>
    </ul>
</nav>
<body>
  <div class="ship-container">
    <div class="ship-image-container">
      <img [src]="'../assets/png/player.png'" alt="player ship">
    </div>
    <div class="bars">
      <bar [barConfiguration]="playerData.healthBar" [currentValue]="playerData.health" [ngClass]="playerData.healthBar.type"></bar>
      <bar [barConfiguration]="playerData.shieldBar" [currentValue]="playerData.shield" [ngClass]="playerData.shieldBar.type"></bar>
      <bar [barConfiguration]="playerData.specialBar" [currentValue]="playerData.special" [ngClass]="playerData.specialBar.type"></bar>
    </div>
  </div>
  <div class="actions-container">
    <div class="info-row">
      <div class="turn-container">
        <div class="turn-count">
            Turn {{combatState.turn}}
        </div>
        <div class="money-count">
            $$ +{{combatState.moneyModifier}} %
        </div>
      </div>
      <div class="evade button" (click)="takeDamage(1, playerData)">
        Evade <span class="counter">{{playerData.evadeStack}}/10</span>
      </div>
      <div class="info button">
        Info
      </div>
    </div>

    <div class="dices-row">
      <ng-container *ngIf="combatState.phase === 'player'">
        <img *ngFor="let dice of dices" [ngClass]="{locked: dice.locked}" [src]="'../assets/svg/'+ dice.symbol +'.svg'" [alt]="dice.symbol" (click)="toggleDice(dice, dice.locked)">
      </ng-container>
      <ng-container *ngIf="combatState.phase === 'enemy'">
        <h1>Enemy Turn</h1>
      </ng-container>
    </div>
    <div class="action-row">
      <div (click)="rethrowDices()"  *ngIf="!combatState.doomed" class="reroll button">
        Reroll
      </div>
      <div *ngIf="combatState.doomed" class="reroll button locked">
        LOCKED
      </div>
      <div (click)="nextPhase()" class="turn button">
        End turn
      </div>
    </div>
  </div>
  <div class="ship-container enemy">
    <div class="bars">
      <bar [barConfiguration]="enemyData.healthBar" [currentValue]="enemyData.health" [ngClass]="enemyData.healthBar.type"></bar>
      <bar [barConfiguration]="enemyData.shieldBar" [currentValue]="enemyData.shield" [ngClass]="enemyData.shieldBar.type"></bar>
      <bar [barConfiguration]="enemyData.specialBar" [currentValue]="enemyData.special" [ngClass]="enemyData.specialBar.type"></bar>
    </div>
    <div class="ship-image-container">
      <img [src]="'../assets/png/enemy.png'" alt="enemy ship">
    </div>
  </div>
</body>
<div class="container">

</div>

<!--<div class="player-container">
    <div class="health-bar-container">
      <div class="single-bar">
      </div>
      <div class="single-bar">
      </div>
      <div class="single-bar">
      </div>
      <div class="single-bar">
      </div>
      <div class="single-bar">
      </div>
      <div class="single-bar">
      </div>
      <div class="single-bar">
      </div>
      <div class="single-bar">
      </div>
      <div class="single-bar">
      </div>
      <div class="single-bar">
      </div>
      <div (click)="animateBars(10, 0, 'shrink')">HP</div>
    </div>
    <div class="shield-bar-container">
      <div class="single-bar">
      </div>
      <div class="single-bar">
      </div>
      <div class="single-bar">
      </div>
      <div class="single-bar">
      </div>
      <div class="single-bar">
      </div>
      <div class="single-bar">
      </div>
      <div class="single-bar">
      </div>
      <div class="single-bar">
      </div>
      <div class="single-bar">
      </div>
      <div class="single-bar">
      </div>
      <div (click)="animateBars(10, 0, 'shrink')">SHD</div>
    </div>
    <div class="ship-container">
      <img [src]="'../assets/png/player.png'" alt="player ship">
    </div>
  </div>
  <div class="middle-container">
    <div class="dices-container">
      <div *ngFor="let dice of dices">
        <div class="dice">
          <img [ngClass]="{locked: dice.locked}" [src]="'../assets/svg/'+ dice.symbol +'.svg'" [alt]="dice.symbol" (click)="toggleDice(dice, dice.locked)">
        </div>
      </div>
      <div (click)="rethrowDices()" *ngIf="!doomed"> Retry </div>
      <div (click)="nextPhase()">Next phase !</div>
    </div>
    <div class="effect-container">
      <div class="header">Turn Modifiers</div>
      <div class="effect-line" *ngFor="let effect of diceEffects">
        <div class="block" [ngClass]="effect.type" *ngFor="let block of effect.value">
        </div>
        {{DiceEffectsLabel[effect.type][effect.effectId]}}
     </div>
    </div>
  </div>-->



