<div class="container">
  <div class="player-container">
    <div class="health-bar-container">
      <div class="single-bar">
      </div>
      <div class="single-bar">
      </div>
      <div class="single-bar">
      </div>
      <div class="single-bar">
      </div>
      <div class="single-bar">
      </div>
      <div class="single-bar">
      </div>
      <div class="single-bar">
      </div>
      <div class="single-bar">
      </div>
      <div class="single-bar">
      </div>
      <div class="single-bar">
      </div>
      <div (click)="animateBars(10, 0, 'shrink')">HP</div>
    </div>
    <div class="shield-bar-container">
      <div class="single-bar">
      </div>
      <div class="single-bar">
      </div>
      <div class="single-bar">
      </div>
      <div class="single-bar">
      </div>
      <div class="single-bar">
      </div>
      <div class="single-bar">
      </div>
      <div class="single-bar">
      </div>
      <div class="single-bar">
      </div>
      <div class="single-bar">
      </div>
      <div class="single-bar">
      </div>
      <div (click)="animateBars(10, 0, 'shrink')">SHD</div>
    </div>
    <div class="ship-container">
      <img [src]="'../assets/png/player.png'" alt="player ship">
    </div>
  </div>
  <div class="middle-container">
    <div class="dices-container">
      <div *ngFor="let dice of dices">
        <div class="dice">
          <img [ngClass]="{locked: dice.locked}" [src]="'../assets/png/'+ dice.symbol +'.png'" [alt]="dice.symbol" (click)="toggleDice(dice, dice.locked)">
        </div>
      </div>
      <div (click)="rethrowDices()" *ngIf="!doomed"> Retry </div>
      <div (click)="nextPhase()">Next phase !</div>
    </div>
    <div class="effect-container">
      <div class="header">Turn Modifiers</div>
      <div class="effect-line" *ngFor="let effect of lockedDiceFaces | keyvalue">
        <div class="block" [ngClass]="effect.key" *ngFor="let block of effect.value">
        </div>
        <span *ngIf="effect.key === 'X' && effect.value.length < 4">
          WARNING ! {{effect.key}} {{effect.value.length}} / 4
        </span>
        <span *ngIf="effect.key === 'X' && effect.value.length > 3">
          DOOMED !!!
        </span>
        <span *ngIf="effect.key !== 'X' && effect.value.length < 3">
          {{effect.key}} {{effect.value.length}} / 3
        </span>
        <span *ngIf="effect.key !== 'X' && effect.value.length > 2">
          ACTIVATED {{effect.key}} {{effect.value.length}}
        </span>
     </div>
    </div>
  </div>
</div>



